*.swp
*.o

*.xyz
statistics.txt

aclocal.m4
autom4te.cache/
Makefile
config.log
config.status
src/.deps/
src/Makefile
src/Model/.deps/
src/Model/.dirstamp
src/View/.deps/
src/View/.dirstamp
src/Controller/.deps/
src/Controller/.dirstamp
src/parallel2DLJMD
bin/
